<link rel="stylesheet" href="../../css/overview.css">
<!--<link rel="stylesheet" href="../../css/bootstrap.css">-->
<div class="overview">
    <div class="left">
        <div class="statistics"></div>
        <div class="map" id="map"></div>
    </div>
    <div class="right">
        <div class="rightTop">
            <div class="rightTopLeft">
                <div class="rightTopLeftChart" id="rightTopLeft"></div>
            </div>
            <div class="rightTopRight">
                <div class="rightTopRightChart" id="rightTopRight"></div>
            </div>
        </div>
        <div class="rightBottom">
            <!--<table class="table table-striped">
                <tr>
                    <td class="active">111</td>
                    <td class="success">2222</td>
                    <td class="warning">333</td>
                    <td class="danger">444</td>
                    <td class="info">555</td>
                </tr>
            </table>-->
        </div>
    </div>
</div>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/echarts.js"></script>
<script src="../../js/overview.js"></script>
<!--<script src="../../js/bootstrap.min.js" ></script>-->